:root {
  --gray-1: #e5e5e5;
  --gray-2: #bdbdbd;
  --gray-3: #a9a9a9;
  --gray-4: #4e5150;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
}
body {
  display: flex;
  flex-direction: column;
}

@media (min-width: 300px) {
  body {
    padding: 1.1rem 0.75rem 1.75rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
  }

  #profile-content {
    margin-bottom: 2rem;
  }
  #profile-content img {
    border-radius: 1.5rem;
    width: 6.5rem;
  }
  #profile-content h1 {
    font-size: 0.875rem;
    text-transform: capitalize;
    color: var(--gray-4);

    margin-top: 0.75rem;
  }
  #profile-content p {
    font-size: 0.625rem;
    text-transform: capitalize;
    color: var(--gray-3);

    margin: 0.25rem 0 0.75rem;
  }
  #profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #profile-content .profile-info {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.75rem;

    width: 16.125rem;
    height: 3.25rem;
  }
  #profile-content .profile-info div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: var(--gray-1);
    font-size: 0.75rem;
    color: var(--gray-4);

    height: 100%;
    width: 100%;
    border-radius: 0.75rem;
  }
  #profile-content .profile-info span {
    color: var(--gray-2);
    text-transform: capitalize;
    margin-top: 0.125rem;
  }

  #posts {
    width: 100%;
    height: 23rem;

    display: grid;
    gap: 0.875rem;
    grid-template-areas:
      "photo1 photo2 photo2"
      "photo3 photo3 photo4"
      "photo5 photo6 photo4";
  }
  #posts .post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.75rem;
  }
  #posts #photo1 {
    grid-area: photo1;
  }
  #posts #photo2 {
    grid-area: photo2;
  }
  #posts #photo3 {
    grid-area: photo3;
  }
  #posts #photo4 {
    grid-area: photo4;
  }
  #posts #photo5 {
    grid-area: photo5;
  }
  #posts #photo6 {
    grid-area: photo6;
  }

  footer {
    font-family: "Montserrat", sans-serif;
    font-size: 0.875em;
    font-weight: 600;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--gray-3);

    padding-top: 2rem;
    margin-top: auto;
  }
  footer a {
    color: var(--gray-3);
  }
}

@media (min-width: 1000px) {
  body {
    padding: 2.5625rem 13.6875rem 3.625rem;
  }
}
